.banner {
    background: var(--azul-degrade) !important;
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo{
    font-size: 18px;
    font-weight: 700;
}

.banner__texto{
    font-weight: 500;
    margin: 1em 0 !important;
}

.banner__pesquisa{

    background-color: transparent !important;
    border: 1px solid var(--branco);
    color: var(--branco);
    border-radius: 24px;
    padding: 1em;
    width: 100%;

}

.banner__pesquisa::placeholder{

    font-family: var(--font-principal);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--branco);

}
lord-icon{

    display: flex;
    margin: -1.2em 0em 0em 0em;
    position: absolute; 
    transform: translateY(-50%); 
    width: 30px; 
    height: 30px; 
    z-index: 1;
    padding: 0em 0.8em 0em 0em;

}


@media screen and (min-width: 1024px){
    .banner__titulo{
        font-size: 36px;
    }
    .banner__pesquisa{
        width: 50%;
    }
    
    lord-icon{
     padding-left: 10em;

    }
}

@media screen and (min-width: 1720px) {
    .banner__pesquisa{
        width: 35%;
    }
    lord-icon{
        padding-left: 29em;
   
    }
    .banner{
        padding: 6em 0;
    }
}